
#header{
    width: 1000px;
    height: 100px;
    margin: 0 auto;

}

.image_block{


}


#header ul{
    /*width: 1000px;*/
    height: 100px;
    line-height: 100px;
    /*margin-top: -50px;*/


}

#header ul li{
    /*float: right;*/
    display: inline-block;
    height: 100px;
    line-height: 100px;
    color: #000;
    padding: 0 10px;
    text-align: center;
}

/*#header li{*/
    /*margin: 15px;*/
/*}*/

/*#header .provider{*/
    /*padding: 5px;*/
    /*background-color: orangered;*/
    /*margin-top: 15px;*/
/*}*/

/*#header .Join{*/
    /*padding-left: 40px;*/
    /*background-color: royalblue;*/

/*}*/

/*Container1*/

#container1{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

#container1 .Social {
    float: right;



}

#container1 .Banner{
    float: right;
    margin-top: 10px;
    z-index: 1;

}

#container1 .Banner_buttons{
    float: right;
    position: absolute;
    margin-left: 850px;
    margin-top: 100px;

}

#container1 .Banner_text{
    float: right;
    position: absolute;
    margin-left: 0px;
    margin-top: 320px;

}



/*container2*/

#container2{
    width: 1000px;
    height: 310px;

    margin: 0 auto;

}

.first1{
    width: 310px;
    height: 310px;
    margin-left: 20px;
    float: left;

}
.first_p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #4c1bff solid ;
    width: 290px;

}

#container2 button{
    float: right;
    width: 50px;
    background-color: red;

}


.first2{
    width: 310px;
    height: 310px;
    margin-left: 20px;
    float: left;

}

.first2_p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #4c1bff solid ;
    width: 290px;

}



.first3{
    width: 310px;
    height: 310px;
    margin-left: 20px;
    float: left;

}
.first3_p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #4c1bff solid ;
    width: 290px;

}


/*container3*/

#container3{
    width: 1000px;
    height: 150px;

    margin: 0 auto;

}

.container3_part1_p1{
    font-size: 30px;
    border-bottom:  solid #4c1bff;
}

.container3_part1_p2{
    float: right;
    margin-top: -25px;
    background-color: red;
    margin-right: 20px;
    padding: 0 20px;
    z-index: 1;
}

.container3_part1 img{
    float: right;
    margin-left: 5px;
    /*margin-top: -25px;*/
    background-color: red;
    /*margin-right: 12px;*/
    /*z-index: 99;*/

}

.container3_part2{
    margin-top: 20px;
    margin-left: 18px;
    float: left;
}

#container3 ul{
    list-style: none;

}

.container3_part2 ul li{
    float: left;
    margin-left: 20px;


}

//

.container3_part2 ul li img{
    display: none;
}
.container3_part2 ul li.on img{
    display: block;
}

.container3_part2 ul{
    width: 240px;

}


.container3_part2 img{

float: left;


}


.container3_part2_img2{
    margin-left: 10px;
    margin-top: 6px;
}


.container3_part3{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    height: 100px;
}
.container3_part3 ul{
    float: left;

}

.container3_part3 img{
    float: left;

}



.container3_part4{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    height: 100px;

}

.container3_part4 ul{
    float: left;

}


.container3_part4 img{
    float: left;

}



.container3_part5{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    height: 100px;

}

.container3_part5 ul{
    float: left;

}


.container3_part5 img{
    float: left;

}


/*container4*/

#container4{
    width: 1000px;
    height: 500px;
    background-color: aquamarine;
    margin: 0 auto;
}

.container4_part1_img1{
    margin: 30px 20px;
    border-bottom: dotted #4c1bff;
    height: 43px;
    width:287px;
    padding: 0 20px;
}

.container4_part1{
    width: 300px;
    float: left;
}

.container4_part1 p{
    font-size: 14px;
    margin-left:64px;
    padding-left: -100px;
    width: 260px;

}

.container4_part1_img2{
    float: left;

    padding-right: 20px;
}




.container4_part2{
    width: 300px;
    float: left;
}


.container4_part2_img1{
    margin: 30px 20px;
    border-bottom: dotted #4c1bff;
    height: 43px;
    width:287px;
    padding: 0 20px;
}

.container4_part2{
    width: 300px;
}

.container4_part2 p{
    font-size: 14px;
    margin-left:64px;
    padding-left: -100px;
    width: 260px;

}

.container4_part2_img2{
    float: left;

    padding-right: 20px;
}




.container4_part3{
    width: 300px;
    float: left;
}


.container4_part3_img1{
    margin: 30px 20px;
    border-bottom: dotted #4c1bff;
    height: 43px;
    width:287px;
    padding: 0 20px;
}

.container4_part3{
    width: 300px;
}

.container4_part3 p{
    font-size: 14px;
    margin-left:64px;
    padding-left: -100px;
    width: 260px;

}

.container4_part3_img2{
    float: left;

    padding-right: 20px;
}




