
#header{
    width: 1000px;
    height: 100px;
    margin: 0 auto;

}

.image_block{


}


#header ul{
    width: 1000px;
    height: 100px;
    margin-top: -50px;

}

#header ul li{
    float: right;

}

#header li{
    margin: 15px;
}

#header .provider{
    padding: 5px;
    background-color: orangered;
    margin-top: 15px;
}

#header .Join{
    padding-left: 40px;
    background-color: royalblue;

}

/*Container1*/

#container1{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

#container1 .Social {
    float: right;



}

#container1 .Banner{
    float: right;
    margin-top: 10px;
    z-index: 1;

}

#container1 .Banner_buttons{
    float: right;
    position: absolute;
    margin-left: 850px;
    margin-top: 100px;

}

#container1 .Banner_text{
    float: right;
    position: absolute;
    margin-left: 0px;
    margin-top: 320px;

}



/*container2*/

#container2{
    width: 1000px;
    height: 310px;

    margin: 0 auto;

}

.first1{
    width: 310px;
    height: 310px;
    margin-left: 20px;
    float: left;

}
.first_p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #4c1bff solid ;
    width: 290px;

}

#container2 button{
    float: right;
    width: 50px;
    background-color: red;

}


.first2{
    width: 310px;
    height: 310px;
    margin-left: 20px;
    float: left;

}

.first2_p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #4c1bff solid ;
    width: 290px;

}



.first3{
    width: 310px;
    height: 310px;
    margin-left: 20px;
    float: left;

}
.first3_p1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #4c1bff solid ;
    width: 290px;

}


/*container3*/

#container3{
    width: 1000px;
    height: 500px;
    background-color: aquamarine;
    margin: 0 auto;

}

.container3_part1_p1{
    font-size: 30px;
    border-bottom:  solid #4c1bff;
}

.container3_part1_p2{
    float: right;
    margin-top: -25px;
    background-color: red;
    margin-right: 20px;
    padding: 0 20px;
    z-index: 1;
}

.container3_part1 img{
    float: right;
    margin-top: -25px;
    background-color: red;
    margin-right: 12px;
    z-index: 99;

}



.container3_part2 ul li{
    width: 100px;
    float: left;

}




