
#header{
    width: 1280px;
    height: 100px;

}

.image_block{
    margin-left: 300px;

}


#header ul{
    width: 1280px;
    height: 100px;
    margin-top: -50px;

}

#header ul li{
    float: right;

}

#header li{
    margin: 20px;
}

#header .provider{
    padding: 5px;
    background-color: orangered;
    margin-top: 15px;
}

#header .Join{
    padding-left: 40px;
    background-color: royalblue;

}

/*Container1*/

#container1{
    width: 1280px;


}

#container1 .Social {
    float: right;
    margin-left:1300px;


}

#container1 .Banner{
    float: right;
    margin-top: 10px;

}















