

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

/*这是顶部图片*/
#header{
    width: 1200px;
    background-color: #cccccc;
}

.header_top img{
    float: left;
}

/*这是登录会员部分*/

.login a{
    text-decoration: none;
    color: #000000;


}
.login a:hover{
    color: blue;
}

.login_menu {
    position: absolute;
    width: 120px;
    top:30px;
    left: -17px;
    display: none;

}


.HH:hover .login_menu{
    display: block;

}


.log ul li{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #000000;
    padding: 0 10px;
    text-align: center;
    position: relative;
    border-right: 1px solid;


}
.login{
    float: right;
    margin-top: 10px;
}

/*这是logo部分*/

#logo{
    width: 1000px;
    margin: 0 auto;
    /*height: 200px;*/
    background-color: #4caf50;
    margin-top: 10px;
}
.logo_two{
    float: left;
}
.search{
    float: left;
    padding-top: 20px;
}

.logo_img2{
    padding-left: 15px;
}

#select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    border: 1px solid red;
    width: 74px;
    background: url("../demo3/image/形状 63.png") no-repeat scroll right center transparent;
    float: left;
    line-height: 30px;
}

.logo_text{
    width: 300px;
    border: 1px solid red;
    height: 30px;

}

.logo_button{
    border: none;
    background: url("../demo3/image/search1.png") no-repeat center red;
    line-height: 29px;
    width: 40px;
    margin-left: -7px;
}

.form{
    float: left;
}

.cart{
    width: 140px;
    height: 36px;
    background-color: orange;
    float: right;
    /*padding-top: 20px;*/
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;

}

.cart img{
    border-right: 1px solid white;
    padding-right: 14px;
}



/*这是导航栏部分*/

#navigation{
    width: 100%;
    height: 28px;
    background-color: #da5920;
}


#navigation2{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

ul li{
    list-style: none;

}

.daohang{
    position: absolute;
}

.daohang li{
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    /*display: inline-block;*/
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-right: 1px solid #ffffff;

}

.fenlei{
    width: 100px;
    text-align: center;
}


.daohang2{
    float: left;
    width: 110px;
    display: block;
    z-index: 99;
    position: relative;
}

.daohang2 li{
    border: none;
    width: 100px;
    background-color: red;
}

.daohang2 li:nth-of-type(odd){
    background-color: #eaeaea;
}

.daohang2 li:nth-of-type(even){
    background-color: #fbfbfb;
}

.daohang2{
    display: none;

}

.fenlei:hover .daohang2{
    display: block;
}



.cijidaohang3{
    position: relative;
}


.cijidaohang4{
    position: absolute;
    top: 0;
    left: 120px;
    display: none;
}

.cijidaohang3:hover .cijidaohang4{
    display: block;
}






/*banner图标轮播部分*/

#banner{
    width: 100%;
    height: 360px;
    background-color:#353b5f ;
    position: relative;
    overflow: hidden;
}

#pic {
    width: 4073px;
    height: 360px;
    position: absolute;
    margin-left: 180px;
    animation-name: focusmap;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transition: translate(0, 0);
}


/*@keyframes focusmap {*/
/*10%{*/
/*left: 0;*/
/*}*/

/*30%{*/
/*left: -2038px;*/
/*}*/

/*60%{*/
/*left: -3057px;*/
/*}*/
/*90%{*/
/*left: -4073px;*/
/*}*/

/*}*/



#pic li{
    float: left;
    margin-right: 180px;
}
#pic li img{
    width: 1019px;
    height: 360px;
    z-index: 1;
    ;
}




/*品牌汇部分*/

#brand{
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    margin-top: 20px;

}

.pinpaihui a {
    text-decoration: none;
    font-size: 1.5em;
    color: orange;
}

.pinpaihui{
    border-bottom: 2px solid #000000;
}

/*品牌汇三个字下面的部分*/

.pinpaihui_part1{
    float: left;
}



.part1_A{
    width: 180px;
    height: 80px;
    border-bottom: 1px solid gainsboro;

}

.part1_A img{
    display: inline-block;
    float: right;
}

.part1_A ul{
    display: inline-block;
}

.part1_A span{
    font-size: 2.8em;
    line-height: 80px;
    border-right: 1px dotted gold;
    padding-right: 5px;
}

.pinpaihui_part2{
    width: 484px;
    height: 452px;

    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.pinpaihui_part3{
    width: 120px;
    float: left;
    width: 200px;
    margin-top: 20px;
}
.pinpaihui_part4{
    float: left;
}

.pinpaihui_part4 img{
    width: 176px;
    float: left;
    height: 380px;
    margin-left: -80px;
    margin-top: 10px;
}

